dist
build
*,cover
*.pyc
*.swp
.swp.*
*.backup
nbproject
*~
build/*
.spyder*
*.orig
*.ilp
*.project
*.pydevproject
*.settings
run-ilastik-mine.sh

test_bu.py

test2backup.py

test.py

t.py

t.patch

r.sh

quadsplitter_patch.patch

ner.py

file.txt

err.txt

curdiff.patch

backup.py

1

.gitignore

.gitignore

.gitignore

.gitignore

.gitignore
